<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Sigma Card API Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_002_Verification_OTP@74a6f9c1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a6aa74">  <td>20/05/19 09:14:34</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_002_Verification_OTP.verificationUser()[pri:0, instance:testCases.Register.TC_002_Verification_OTP@74a6f9c1]">&gt;&gt;verificationUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a6aa74">  <td>20/05/19 09:14:37</td>   <td>2521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Verification_OTP.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_002_Verification_OTP@74a6f9c1]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a6aa74">  <td>20/05/19 09:14:37</td>   <td>2544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Verification_OTP.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_002_Verification_OTP@74a6f9c1]">assertResponseTime</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a6aa74">  <td>20/05/19 09:14:37</td>   <td>2547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Verification_OTP.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_002_Verification_OTP@74a6f9c1]">assertStatusCode</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a6aa74">  <td>20/05/19 09:14:37</td>   <td>2551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Verification_OTP.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_002_Verification_OTP@74a6f9c1]">assertStatusLine</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:37</td>   <td>2556</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_003_Verification_Code@54eb2b70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="aaea95">  <td>20/05/19 09:14:37</td>   <td>2557</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_003_Verification_Code.verificationUser()[pri:0, instance:testCases.Register.TC_003_Verification_Code@54eb2b70]">&gt;&gt;verificationUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="aaea95">  <td>20/05/19 09:14:38</td>   <td>3913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Verification_Code.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_003_Verification_Code@54eb2b70]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="aaea95">  <td>20/05/19 09:14:38</td>   <td>3917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Verification_Code.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_003_Verification_Code@54eb2b70]">assertResponseTime</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="aaea95">  <td>20/05/19 09:14:38</td>   <td>3920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Verification_Code.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_003_Verification_Code@54eb2b70]">assertStatusCode</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="aaea95">  <td>20/05/19 09:14:38</td>   <td>3924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Verification_Code.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_003_Verification_Code@54eb2b70]">assertStatusLine</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:38</td>   <td>3928</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>20/05/19 09:14:38</td>   <td>3929</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_005_Update_Password.updatePassword()[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">&gt;&gt;updatePassword</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>20/05/19 09:14:40</td>   <td>5317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Update_Password.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>20/05/19 09:14:40</td>   <td>5321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Update_Password.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">assertResponseTime</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>20/05/19 09:14:40</td>   <td>5324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Update_Password.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">assertStatusCode</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>20/05/19 09:14:40</td>   <td>5328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Update_Password.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">assertStatusLine</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>20/05/19 09:14:40</td>   <td>5331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Update_Password.checkPasswordValid()[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">checkPasswordValid</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:40</td>   <td>5574</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_006_Profile@63611043]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/05/19 09:14:40</td>   <td>5576</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_006_Profile.reloadProfile()[pri:0, instance:testCases.Register.TC_006_Profile@63611043]">&gt;&gt;reloadProfile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/05/19 09:14:41</td>   <td>6908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_006_Profile.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_006_Profile@63611043]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/05/19 09:14:41</td>   <td>6912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_006_Profile.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_006_Profile@63611043]">assertResponseTime</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/05/19 09:14:41</td>   <td>6914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_006_Profile.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_006_Profile@63611043]">assertStatusCode</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/05/19 09:14:41</td>   <td>6916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_006_Profile.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_006_Profile@63611043]">assertStatusLine</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:41</td>   <td>6920</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:41</td>   <td>6921</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_Register.registerUser()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">&gt;&gt;registerUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>8291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>8312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">assertResponseTime</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>8315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">assertStatusCode</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>8319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">assertStatusLine</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>8322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkAccountElement()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">checkAccountElement</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>8332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkEmailValid()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">checkEmailValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>8340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkPasswordValid()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">checkPasswordValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>8350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkPhoneNumber()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">checkPhoneNumber</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>8360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkUsernameValid()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">checkUsernameValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:43</td>   <td>8369</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>8370</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_Register.registerUser()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">&gt;&gt;registerUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>12237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>12240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">assertResponseTime</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>12243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">assertStatusCode</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>12246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">assertStatusLine</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>12249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkAccountElement()[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">checkAccountElement</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>12258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkEmailValid()[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">checkEmailValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>12265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkPasswordValid()[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">checkPasswordValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>12273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkPhoneNumber()[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">checkPhoneNumber</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>12280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkUsernameValid()[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">checkUsernameValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:47</td>   <td>12288</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>12289</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_Register.registerUser()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">&gt;&gt;registerUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>13676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>13680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">assertResponseTime</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>13682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">assertStatusCode</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>13686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">assertStatusLine</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>13689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkAccountElement()[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">checkAccountElement</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>13697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkEmailValid()[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">checkEmailValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>13704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkPasswordValid()[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">checkPasswordValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>13711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkPhoneNumber()[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">checkPhoneNumber</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>13719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkUsernameValid()[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">checkUsernameValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:48</td>   <td>13728</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:48</td>   <td>13730</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_004_Login.loginUser()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">&gt;&gt;loginUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:49</td>   <td>15014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:49</td>   <td>15040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">assertResponseTime</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:49</td>   <td>15042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">assertStatusCode</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:49</td>   <td>15045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">assertStatusLine</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:49</td>   <td>15048</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:49</td>   <td>15049</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_004_Login.loginUser()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">&gt;&gt;loginUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:51</td>   <td>16472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_004_Login@59e505b2]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:51</td>   <td>16475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@59e505b2]">assertResponseTime</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:51</td>   <td>16477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@59e505b2]">assertStatusCode</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:51</td>   <td>16479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@59e505b2]">assertStatusLine</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:51</td>   <td>16481</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:51</td>   <td>16483</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_004_Login.loginUser()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">&gt;&gt;loginUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:52</td>   <td>17986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_004_Login@82ea68c]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:52</td>   <td>18001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@82ea68c]">assertResponseTime</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:52</td>   <td>18003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@82ea68c]">assertStatusCode</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:52</td>   <td>18006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@82ea68c]">assertStatusLine</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
</table>
