<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Sigma Card API Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6aa74">  <td>20/05/19 09:14:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Verification_OTP.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_002_Verification_OTP@74a6f9c1]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="aaea95">  <td>20/05/19 09:14:38</td>   <td>1392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Verification_Code.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_003_Verification_Code@54eb2b70]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>20/05/19 09:14:40</td>   <td>2796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Update_Password.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/05/19 09:14:41</td>   <td>4387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_006_Profile.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_006_Profile@63611043]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>5770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>9716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>11155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:49</td>   <td>12493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:51</td>   <td>13951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_004_Login@59e505b2]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:52</td>   <td>15465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertEmptyResponseBody()[pri:0, instance:testCases.Register.TC_004_Login@82ea68c]">assertEmptyResponseBody</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="a6aa74">  <td>20/05/19 09:14:37</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Verification_OTP.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_002_Verification_OTP@74a6f9c1]">assertResponseTime</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="aaea95">  <td>20/05/19 09:14:38</td>   <td>1396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Verification_Code.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_003_Verification_Code@54eb2b70]">assertResponseTime</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>20/05/19 09:14:40</td>   <td>2800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Update_Password.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">assertResponseTime</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/05/19 09:14:41</td>   <td>4391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_006_Profile.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_006_Profile@63611043]">assertResponseTime</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>5791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">assertResponseTime</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>9719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">assertResponseTime</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>11159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">assertResponseTime</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:49</td>   <td>12519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">assertResponseTime</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:51</td>   <td>13954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@59e505b2]">assertResponseTime</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:52</td>   <td>15480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertResponseTime(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@82ea68c]">assertResponseTime</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="a6aa74">  <td>20/05/19 09:14:37</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Verification_OTP.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_002_Verification_OTP@74a6f9c1]">assertStatusCode</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="aaea95">  <td>20/05/19 09:14:38</td>   <td>1399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Verification_Code.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_003_Verification_Code@54eb2b70]">assertStatusCode</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>20/05/19 09:14:40</td>   <td>2803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Update_Password.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">assertStatusCode</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/05/19 09:14:41</td>   <td>4393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_006_Profile.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_006_Profile@63611043]">assertStatusCode</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>5794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">assertStatusCode</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>9722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">assertStatusCode</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>11161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">assertStatusCode</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:49</td>   <td>12521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">assertStatusCode</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:51</td>   <td>13956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@59e505b2]">assertStatusCode</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:52</td>   <td>15482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertStatusCode(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@82ea68c]">assertStatusCode</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="a6aa74">  <td>20/05/19 09:14:37</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Verification_OTP.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_002_Verification_OTP@74a6f9c1]">assertStatusLine</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="aaea95">  <td>20/05/19 09:14:38</td>   <td>1403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Verification_Code.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_003_Verification_Code@54eb2b70]">assertStatusLine</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>20/05/19 09:14:40</td>   <td>2807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Update_Password.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">assertStatusLine</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/05/19 09:14:41</td>   <td>4395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_006_Profile.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_006_Profile@63611043]">assertStatusLine</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>5798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">assertStatusLine</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>9725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">assertStatusLine</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>11165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">assertStatusLine</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:49</td>   <td>12524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">assertStatusLine</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:51</td>   <td>13958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@59e505b2]">assertStatusLine</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:52</td>   <td>15485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Login.assertStatusLine(java.lang.String)[pri:0, instance:testCases.Register.TC_004_Login@82ea68c]">assertStatusLine</td> 
  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>5801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkAccountElement()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">checkAccountElement</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>9728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkAccountElement()[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">checkAccountElement</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>11168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkAccountElement()[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">checkAccountElement</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>5811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkEmailValid()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">checkEmailValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>9737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkEmailValid()[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">checkEmailValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>11176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkEmailValid()[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">checkEmailValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="fee8e7">  <td>20/05/19 09:14:40</td>   <td>2810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Update_Password.checkPasswordValid()[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">checkPasswordValid</td> 
  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>5819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkPasswordValid()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">checkPasswordValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>9744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkPasswordValid()[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">checkPasswordValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>11183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkPasswordValid()[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">checkPasswordValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>5829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkPhoneNumber()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">checkPhoneNumber</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>9752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkPhoneNumber()[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">checkPhoneNumber</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>11190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkPhoneNumber()[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">checkPhoneNumber</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>5839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkUsernameValid()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">checkUsernameValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>9759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkUsernameValid()[pri:0, instance:testCases.Register.TC_001_Register@4397ad89]">checkUsernameValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:48</td>   <td>11198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Register.checkUsernameValid()[pri:0, instance:testCases.Register.TC_001_Register@59cba5a]">checkUsernameValid</td> 
  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:48</td>   <td>11209</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_004_Login.loginUser()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">&gt;&gt;loginUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:49</td>   <td>12528</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_004_Login.loginUser()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">&gt;&gt;loginUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="f9996f">  <td>20/05/19 09:14:51</td>   <td>13962</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_004_Login.loginUser()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">&gt;&gt;loginUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:41</td>   <td>4400</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_Register.registerUser()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">&gt;&gt;registerUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:43</td>   <td>5849</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_Register.registerUser()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">&gt;&gt;registerUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="cbb08c">  <td>20/05/19 09:14:47</td>   <td>9768</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_Register.registerUser()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">&gt;&gt;registerUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="e867c6">  <td>20/05/19 09:14:40</td>   <td>3055</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_006_Profile.reloadProfile()[pri:0, instance:testCases.Register.TC_006_Profile@63611043]">&gt;&gt;reloadProfile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:34</td>   <td>-2521</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_002_Verification_OTP@74a6f9c1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:37</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_003_Verification_Code@54eb2b70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:38</td>   <td>1407</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:40</td>   <td>3053</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_006_Profile@63611043]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:41</td>   <td>4399</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:43</td>   <td>5848</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:47</td>   <td>9767</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_001_Register@1bd39d3c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>1134013833 94157402 466853180 </td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:48</td>   <td>11207</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:49</td>   <td>12527</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="a1689d">  <td>20/05/19 09:14:51</td>   <td>13960</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.Register.TC_004_Login@3af0a9da]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td>137275020 1508181426 988850650 </td> </tr>
<tr bgcolor="fee8e7">  <td>20/05/19 09:14:38</td>   <td>1408</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_005_Update_Password.updatePassword()[pri:0, instance:testCases.Register.TC_005_Update_Password@45a37759]">&gt;&gt;updatePassword</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="a6aa74">  <td>20/05/19 09:14:34</td>   <td>-2501</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_002_Verification_OTP.verificationUser()[pri:0, instance:testCases.Register.TC_002_Verification_OTP@74a6f9c1]">&gt;&gt;verificationUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
<tr bgcolor="aaea95">  <td>20/05/19 09:14:37</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_003_Verification_Code.verificationUser()[pri:0, instance:testCases.Register.TC_003_Verification_Code@54eb2b70]">&gt;&gt;verificationUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902860396</td>   <td></td> </tr>
</table>
