<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCases.Transaction.UploadEvidence.TC_001_Upload_Evidence_Transfer</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>uploadEvidence</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>uploadEvidence</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>uploadEvidence</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertResponseTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertResponseTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertResponseTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResultAsExpected</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResultAsExpected</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResultAsExpected</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertStatusCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertStatusCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertStatusCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertEmptyResponseBody</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertEmptyResponseBody</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertEmptyResponseBody</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
